# Load pass shortcuts functions
source_env $HOME/.envrc_common

# For the local environment always run in dev mode
export ENV=dev
export TWELVEDATA_API_KEY=$(passme $ENV/twelvedata/api_key)
export NEWSAPI_API_KEY=$(passme $ENV/newsapi/api_key)

# export ABK_DEPLOYMENT_REGION=us-west-2
# export ABK_PRJ_NAME=abk
# export AWS_ACCESS_KEY_ID=$(passme $ENV/aws/aws_access_key_id)
# export AWS_SECRET_ACCESS_KEY=$(passme $ENV/aws/aws_secret_access_key)
# # export ABK_AWS_DEFAULT_PROFILE=$ENV
# export AWS_PROFILE=$ENV
# export AWS_DEFAULT_PROFILE=$ENV
